@model Entity.Entities.BookTypes

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="BookType" method="post">
            
            <div class="form-group">
                <label>Tür Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
               
                <input type="hidden" asp-for="Id" class="form-control" />
                
           
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye geri dön</a>
</div>

