<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Mazer Kitap Sistemi</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="~/themes/dist/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/themes/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/themes/dist/assets/vendors/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/themes/dist/assets/css/app.css" />
    <link rel="shortcut icon" href="~/themes/dist/assets/images/favicon.svg" type="image/x-icon" />
</head>
<body>
    <div id="app">
        <!-- Sidebar -->
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="/"><img src="~/themes/dist/assets/images/logo/logo.png" alt="Logo" /></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menü</li>

                        <li class="sidebar-item">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="sidebar-link">
                                <i class="bi bi-house-door-fill"></i>
                                <span>Ana Sayfa</span>
                            </a>
                        </li>

                        
                        <li class="sidebar-item">
                            <a asp-controller="BookType" asp-action="Index" class="sidebar-link">
                                <i class="bi bi-book"></i>
                                <span>Kitap Türleri</span>
                            </a>
                        </li>
                        <li class="sidebar-item ">
                            <a asp-controller="Role" asp-action="Users" class="sidebar-link">
                                <i class="bi bi-book"></i>
                                <span>Kullanıcılar</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>

        <!-- İçerik -->
        <div id="main" class="layout-navbar">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-content">
                @RenderBody()
            </div>

            <footer class="footer clearfix mb-0 text-muted mt-4">
                <div class="float-start">
                    <p>&copy; 2025 - Kitap Sistemi</p>
                </div>
                <div class="float-end">
                    <p>Hazırlayan: <a href="https://github.com/Huseyincan41">Hüseyin Can Aksoy</a></p>
                </div>
            </footer>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/themes/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/themes/dist/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/themes/dist/assets/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
